.s.PGSQL.5432.lock
.s.PGSQL.5432
db
.DS_Store

# Python
__pycache__/
*.pyc
venv/
.env
*.sqlite3

# Node.js
node_modules/
npm-debug.log*
.yarn
dist/
build/
.react-router/
build/

# Go
judge/bin/
*.exe

# IDE
.vscode/
.idea/
*.swp
.qwen


redis-data

**/uploads
frontend/web-student/public/jupyterlite
backend/.keys/


frontend/JupyterLite/.jupyterlite.doit.db
frontend/web-student/public/.jupyterlite.doit.db
backend/.keys
backend/.venv
backend/media
frontend/web-student/node_modules
.claude/ralph-loop.local.md
